@font-face {
    font-family: "iconfont"; /* Project id 3157349 */
    src: url('iconfont.woff2?t=1642840421439') format('woff2'),
    url('iconfont.woff?t=1642840421439') format('woff'),
    url('iconfont.ttf?t=1642840421439') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
    content: "\e87c";
}

.icon-24gf-pause2:before {
    content: "\ea81";
}

